* {
  margin: 0;
}
.lato-regular {
  font-family: "Lato", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.header {
  width: 1920px;
  height: 850px;
  flex-shrink: 0;
  background: rgba(229, 84, 115, 0.1);
}
