* {
  margin: 0;
}
.lato-regular {
  font-family: "Lato", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

/**** --'header' section styling-- ****/
.header {
  background: rgba(229, 84, 115, 0.1);
}

/* header skeleton */
.header-container {
  width: 1440px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.banner-container {
  width: 700px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.header-container img {
  margin-top: 50px;
}
