* {
  margin: 0;
}
.lato-regular {
  font-family: "Lato", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

/**** --'header' section styling-- ****/
.header {
  background: rgba(229, 84, 115, 0.1);
}
/* header skeleton */
.header-container {
  width: 1440px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.banner-container {
  width: 700px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.header-container img {
  margin-top: 50px;
}
/* header ornamentation */
.banner-title {
  color: #272727;
  font-family: Lato;
  font-size: 80px;
  font-weight: 800;
}
.banner-description {
  color: rgba(39, 39, 39, 0.6);
  font-family: Lato;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
}
.btn-primary {
  width: 200px;
  border: none;
  border-radius: 8px;
  padding: 20px 43px;
  background: #e55473;
}
.btn-txt {
  color: #fff;
  font-family: Lato;
  font-size: 20px;
  font-weight: 700;
}

/**** --'main' section styling-- ****/

/** 'featured' section skeleton **/
.feature {
  margin-top: 150px;
  margin-bottom: 130px;
}
.feature-container {
  width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}
/* 'flower div' skeleton */
.flower-items {
  display: flex;
  gap: 25px;
}
.flower-item {
  display: flex;
  flex-direction: column;
  align-items: center; /* Horizontally center the items (optional) */
}
.f-item {
  width: 460px;
  height: 538px;
  flex-shrink: 0;
  border-radius: 300px 300px 0px 0px;
}
.item1 {
  background: url("./images/pngwing 6.png") no-repeat center/cover,
    rgba(167, 33, 98, 0.15);
}

.item2 {
  background: url("./images/pngwing 5.png") no-repeat center/cover,
    rgba(5, 151, 160, 0.15);
}

.item3 {
  background: url("./images/pngwing 7.png") no-repeat center/cover,
    rgba(71, 125, 17, 0.15);
}

/* 'service div' skeleton */
.service-items {
  width: 1440px;
  height: 320px;
  border-radius: 8px;
  background: rgba(39, 39, 39, 0.05);

  display: flex;
  align-items: center;
  justify-content: space-around;
}
.s-item {
  text-align: center;
}
